h1{
    background-color: brown;
}
body{
    background-image: url(https://i.pinimg.com/originals/40/6d/f7/406df7cc0a0eeaf367b53705a70f2e90.jpg);
    background-size: cover;
    background-attachment: fixed;
}
a{
    background-color: brown;
}
p{
    background-color: brown;
}
div{
    border-style: solid;
    border-radius: 15px;
    border-width: 15px;
    width: 500px;
    margin-inline: auto;
    border-color: brown;
    background-color: green;
    padding: 10px;
}